
@import "../css/inter-ui";
@import "../css/syntax";

$body-color: #515151;

$headings-color: #313131;

$code-color: #212529;

$font-family-base: "Inter", sans-serif;

$enable-responsive-font-sizes: true;

$navbar-light-toggler-border-color: #ffffff;

$hr-margin-y: 1.5rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 720px,
  xl: 720px
);

@import "../../node_modules/bootstrap/scss/bootstrap";

pre {
  padding-top: 5px;
  padding-bottom: 5px;

  code {
    word-wrap: normal;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.8 * $font-size-base;
}

blockquote {
  @extend .blockquote;
  border-left: 2px solid $dark;
  padding-left: 10px;
  font-size: $font-size-base;
}
