<nav class="navbar navbar-light bg-white">
  <button class="navbar-toggler ml-auto float-sm-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon pull-right"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{ if not .IsHome }}<a class="nav-link" href="/">Home</a>{{ end }}
        <a class="nav-link" href="/blog/">/dev/blog</a>
      </li>
    </ul>
  </div>
</nav>
