<div class="pos-f-t">
  <nav class="navbar navbar-light bg-white">
    <button class="navbar-toggler ml-auto float-sm-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="collapse" id="navbarContent">
    <div class="container">
      <div class="col-lg-8 offset-lg-2 p-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link pb-0" href="/">Home</a>
          </li>
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link pb-0" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        <hr>
      </div>
    </div>
  </div>
</div>
